<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Crapper Keeper</title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </head>

  <body ng-app="crapper_keeper">
    <ion-header-bar class="bar-dark">
      <br>
      <h1 class="title" style="text-align:center;">Crapper Keeper</h1>
      <h4 style="text-align:center;">Keep Your Crap In Order</h4>
      <p style="text-align:center;">This app is for people who have crap. A lot
        of crap.</p>
      <p style="text-align:center;">Keep track of your crap by logging in where
        you put things so you can find it later!</p>
    </ion-header-bar>

    <ion-content>
      <a class="facebook-sign-in button button-block" ng-click="facebookSignIn()">Login with Facebook</a>
      <a class="button button-assertive button-block button-outline" ng-click="showLogOutMenu()">Log Out</a>
    </ion-content>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div>
          <h2 class="contact_info" style="text-align:center;">Let's Get In Touch!</h2>
          <hr class="primary">
          <span class="glyphicon glyphicon-envelope"></span>
          <span style="text-align:center;"><a href="mailto:regina.imhoff@gmail.com">regina.imhoff@gmail.com</a></span>
          <br>
          <span class="glyphicon glyphicon-education"></span>
          <span style="text-align:center;"><a href="mailto:imhoffr@oregonstate.edu">imhoffr@oregonstate.edu</a></span>
          <br>
          <p style="text-align:center;">This site was made by <a href="http://www.reginaimhoff.com">Regina Imhoff</a></p>
        </div>
      </div>
    </div>
  </section>

  </body>
</html>
